.post {
  max-width: 1000px;
  margin: 0 auto 50px;
  padding: 0 10px 10px;
  text-align: left;
}

.smallPost {
  max-width: 470px;
}

.caption {
  text-align: center;
  margin: 0 0 20px;
}

.location {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.date {
  opacity: .5;
}

.image {
  width: 100%;
  height: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  animation-name: colour;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes colour {
  from {
    filter: grayscale(1);
  }
  
  to {
    filter: grayscale(0)
  }
}
