.app {
  text-align: center;
}

.appHeaderLink {
  text-decoration: none;
  color: black;
  transition: all .3s ease-in-out;
}

.appHeaderLink:hover {
  color: #555;
}

.appHeader {
  font-size: 3rem;
  margin: 50px 0;
  text-transform: uppercase;
  display: inline-block;

  @media screen and (max-width: 540px) {
    margin: 30px 0;
  }
}
