.postForm {
  max-width: 1000px;
  margin: 0 auto 50px;
  padding: 0 10px 10px;
  text-align: left;
}

.idLabel {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 18px;
}

.idValue {
  font-size: 18px;
}

.form {
  width: 100%;
}