.postForm {
  max-width: 1000px;
  margin: 0 auto 50px;
  padding: 0 10px 10px;
  text-align: left;
}

.id {
  margin-bottom: 40px;
  
  .label {
    font-weight: 600;
    font-size: 18px;
  }
  
  .value {
    font-size: 18px;
  }
}

.form {
  width: 100%;
}

.sections {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.inputs,
.preview {
  width: calc(50% - 20px);

  @media screen and (max-width: 800px) {
    width: 100%;
  }
}

.formTitle,
.previewTitle {
  margin: 20px 0;
  font-size: 30px;
}

.button {
  display: block;
  margin: 0 auto;
  padding: 20px 40px;
  font-size: 20px;
  border: 1px solid #aaa;
  border-radius: 5px;
  cursor: pointer;
  transition: all .3s ease-in-out;

  &:hover {
    background-color: #e2ccac;
    border-color: #e2ccac;
  }
}

.center {
  text-align: center;
}
