.warning {
  font-size: 36px;
  color: #fe5c4b;
  margin: 20px;
}

.thick {
  font-weight: 900;
}

.warningSmall {
  font-size: 24px;
  color: #fe5c4b;
}

.button {
  margin-bottom: 100px;
  padding: 20px 40px;
  font-size: 20px;
  color: #fe5c4b;
  border: 2px solid #fe5c4b;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
  transition: all .3s ease-in-out;

  &:hover {
    color: #fff;
    background-color: #fe5c4b;
    border-color: #fe5c4b;
  }
}

.miniPost {
  margin-top: 50px;
  filter: grayscale(1);
}
